*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

.container {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.navbar {
    width: 93%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo_navlinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 100px;
    height: 30px;
    object-fit: contain;
}

.login_register {
    display: flex;
    align-items: center;
}

.login {
    margin-right: 40px;
}

.register {
    padding: 8px 13px;
    border-radius: 13px;
    outline: none;
    border: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
}

.navlinks {
    display: flex;
    justify-content: space-evenly;
    width: 550px;
    /* border: 1px solid rgb(132, 10, 10); */
    margin-left: 25px;
    align-items: flex-start;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrow {
    margin-left: 8px;
}

.main {
    width: 85%;
    margin-top: 25px;
    min-height: 75vh;
    display: flex;
    flex-flow: row;
}

.main-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 110px;
}

.main-right {
    width: 50%;
    background-image: url("./assets/images/image-hero-desktop.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 45px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: gray;
    margin-top: 50px;
}

.sponsors {
    width: 60%;
    margin-top: 125px;
    display: flex;
    justify-content: space-between;
}

.learn_btn {
    margin-top: 50px;
    width: 100px;
    padding: 10px 13px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: black;
    color: #fff;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sponsor_img {
    width: 60px;
    object-fit: contain;
}